In [2]:
import pandas as pd

df = pd.read_csv('../data/pmf_training_data.csv')
df.head(100)

    user_index  item_index  rating
0            0      169754       4
1            0      171229       5
2            0      172344       3
3            0      166707       5
4            0      170752       4
..         ...         ...     ...
95           4      170328       4
96           4      169854       3
97           4      169125       5
98           4      168978       4
99           4      167905       4

[100 rows x 3 columns]